<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ARTBOARDS</title>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../js/swiper/swiper-3.4.0.min.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/artboards.css">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" media="screen" />
</head>
<body>
    <div class="container-fluid head">
        <div class="layout head-layout">
            <div class="row head-row">
                   <span>
                       <img class="logo-img" src="../img/artboards/logo.png">
                       <i class="iconfont main-icon">&#xe616;</i>
                       <form class="search-box" action="">
                         <input type="text" class="case" placeholder="Search"/>
                         <a class="go" href="#">
                            <i class="iconfont go-icon">&#xe6e6;</i>
                         </a>
                         <select name="" id="search-select">
                             <option value="">Artwork</option>
                             <option value="">Artist</option>
                         </select>
                         <div class="search-icon"></div>
                       </form>
                       <!--<div class="log-box">-->
                           <!--<span class="login">Login</span><i> / </i><span class="signup">Signup</span>-->
                       <!--</div>-->
                       <div class="loged-box">
                           <span class="loged-head"><img class="loged-headimg" src="../img/artboards/head.jpg" alt=""></span>
                           <span class="loged-hi">Hi</span><span class="loged-username">Emily</span>
                           <span class="loged-icon"></span>
                       </div>
                   </span>
            </div>
        </div>
    </div>

    <div class="banner-menu">
        <ul class="banner-ul">
            <li><i class="iconfont2 banner-icon">&#xe624;</i>Inbox</li>
            <li><i class="iconfont2 banner-icon">&#xe60e;</i>Artboards</li>
            <li><i class="iconfont2 banner-icon">&#xe602;</i>My Profile</li>
            <li><i class="iconfont2 banner-icon">&#x348c;</i>Settings</li>
            <li><i class="iconfont2 banner-icon">&#xe615;</i>Log Out</li>
        </ul>
    </div>


    <div class="empty-box"></div>
    <div class="title-box">
        <div class="layout">
            <span class="title-text">ARTBOARDS</span>
        </div>
    </div>

    <div class="layout">
        <div class="container">
            <div class="pic-box">
                <p class="pic-title">Designs for Powerpoint</p>
                <div class="pic-contain">
                    <img src="../img/artboards/pic1.jpg" alt="">
                    <img src="../img/artboards/pic2.jpg" alt="">
                    <img src="../img/artboards/pic3.jpg" alt="">
                    <img src="../img/artboards/pic4.jpg" alt="">
                    <img src="../img/artboards/pic5.jpg" alt="">
                </div>
            </div>
            <div class="pic-box">
                <p class="pic-title">China</p>
                <div class="pic-contain"></div>
            </div>
            <div class="pic-box">
                <p class="pic-title">Designs</p>
                <div class="pic-contain"></div>
            </div>
            <div class="pic-box">
                <p class="pic-title">Designs for Powerpoint</p>
                <div class="pic-contain"></div>
            </div>
            <div class="add-box">
                <p class="add-title"></p>
                <div class="add-icon"><span>+</span></div>
            </div>

        </div>
    </div>

    <div class="container-fluid bottom">
        <div class="layout">
            <img class="logoMin" src="../img/portfolio/logoMin.png" alt="" />
            <div class="b-line">	</div>
            <h2 class="b-create">Empowered  &nbsp; by Createc &nbsp; Solution.</h2>
            <img class="b-code" src="../img/portfolio/code.jpg" alt="" />
            <div class="b-text">
                <h4>Createc Solution 2016;ALL Rights Reserved沪 ICP 备 14054408 号 - 6</h4>
            </div>
        </div>
    </div>

    <div class="cover"></div>


</body>
<script src="../js/jquery/jquery.min.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/swiper/swiper-3.4.0.jquery.min.js"></script>
<script src="../js/artboards.js"></script>
</html>